/* --- EVENT LIST --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

@import './../../styles/components/animations';

.event {
  @include box-display;
  float: left;
  height: calc(100vh - 70px);
  position: relative;
  text-align: center;
  width: 100%;

  &--content {
    @include box-display;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &--item {
      @include box-display;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }

    .slider {
      width: 100%;

      &--container {
        height: 480px;
        float: none;
        width: calc(100% - 275px);
      }

      &--item {
        height: 100%;
        opacity: 0;
        position: absolute;

        &[data-active="true"] {
          opacity: 1;
          width: 590px;
          z-index: 2;

          .event {
            &--item {
              &--image {
                &:before {
                  @include box-display;
                  animation: border-in 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms normal forwards;
                  background-color: transparent;
                  border: 2px solid var(--background-color);
                  border-right: none;
                  content: '';
                  height: calc(100% - 12px);
                  left: -6px;
                  overflow: hidden;
                  position: absolute;
                  top: 6px;
                  transform-origin: center;
                  width: 0%;
                  z-index: 2;
                }
              }

              &--info {
                .attributes--item,
                .description {
                  &:after {
                    @include box-display;
                    animation: text 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms forwards;
                    background-color: var(--background-color);
                    content: '';
                    height: calc(100% + 4px);
                    right: 0;
                    top: -2px;
                    position: absolute;
                    width: 100%;
                  }
                }
                
                .title {
                  .address,
                  .date,
                  .name {
                    &:after {
                      @include box-display;
                      animation: text 700ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                      background-color: var(--background-color);
                      content: '';
                      height: calc(100% + 4px);
                      right: 0;
                      top: -2px;
                      position: absolute;
                      width: 100%;
                    }
                  }
  
                  .address {
                    &:after {
                      animation-delay: 400ms;
                    }
                  }
  
                  .name {
                    &:after {
                      animation-delay: 450ms;
                    }
                  }
  
                  .date {
                    &:after {
                      animation-delay: 470ms;
                    }
                  }

                  &:before {
                    animation: width-zero 400ms cubic-bezier(0.39, 0.575, 0.565, 1) 400ms 1 forwards;
                  }
                }

                &:before {
                  animation: border-black 400ms cubic-bezier(0.39, 0.575, 0.565, 1) 400ms 1 forwards;
                  border-width: 0;
                  right: 0;
                  left: initial;
                  transform-origin: right;
                  width: 0;
                  z-index: 15;
                }

                &:after {
                  animation: border-black-after 400ms cubic-bezier(0.39, 0.575, 0.565, 1) 600ms 1 forwards;
                  border-width: 1px;
                  transform-origin: left center;
                  width: 0;
                }
              }
            }
          }
        }
      }

      &[data-direction="next"] {
        .slider {
          &--item {
            &[data-active="true"] {
              .event {
                &--item {
                  &--image {
                    animation: event-next 450ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms forwards;
                  }
                }
              }
            }
          }
        }
      }

      &[data-direction="prev"] {
        .slider {
          &--item {
            &[data-active="true"] {
              .event {
                &--item {
                  &--image {
                    animation: event-prev 450ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms forwards;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @keyframes width-zero {
    0% {
      width: calc(100% + 8px);
    }
    100% {
      width: 2px;
    }
  }

  @keyframes border-black {
    0% {
      border-width: 0;
      width: 0%;
    }
    30% {
      border-width: 2px;
    }
    100% {
      border-width: 2px;
      width: 100%;
    }
  }

  @keyframes border-black-after {
    0% {
      width: 0%;
    }
    100% {
      width: 50vw;
    }
  }

  @keyframes border-in {
    0% {
      left: -6px;
      width: 0%;
    }
    100% {
      left: 6px;
      width: 100%;
    }
  }

  > .wrapper {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
  }
}

/* --- ANIMATION --- */
@keyframes text {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes image {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* --- QUERIES --- */

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .event {
    &--content {
      .slider {
        &--container {
          width: calc(100% - 215px);
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .event {
    &--content {
      .slider {
        &--container {
          display: inline-block;
          height: auto;
          padding: 0 15px;
          width: 100%;
        }

        &--item,
        &--item[data-active="true"] {
          position: relative;
          width: 100%;
        }

        &--controls {
          width: 100%;

          &[data-type="2"] {
            padding: 0 20px;

            .slider-controls {
              &--item {
                display: inline-block;
                position: relative;
                width: 100%;

                .control {
                  .date {
                    @include box-display;
                    display: block;
                    position: relative;
                    width: auto;

                    .day,
                    .month {
                      @include box-display;
                      float: left;
                      position: relative;
                    }
                  }

                  .btn {
                    &:before {
                      animation: none;
                      width: 20px;
                    }

                    &.prev {
                      &:before {
                        left: -20px;
                        right: initial;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &[data-direction="prev"],
        &[data-direction="next"] {
          .slider {
            &--item {
              &[data-active="true"] {
                & + .slider--item {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    &--item {
      margin: 20px 0 0;
      
      &--image {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        max-height: 200px;
        width: 100%;
        
        img {
          height: auto;
          width: 100%;
        }
      }
      
      &--info {
        padding: 30px 15px;

        .country {
          left: 0;
          top: -40px;
        }

        width: 100%;
      }
    }
  }
}