/* --- EVENT LIST INFO --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.event {
  &--item {
    &--info {
      @include box-display;
      padding: 30px;
      position: relative;
      text-align: left;
      vertical-align: top;
      width: calc(100% - 240px);

      .description,
      .title {
        @include box-display;
        margin: 0;
        position: relative;
      }

      .description {
        @include font($font-default, 12px, 400, $black-900);
        line-height: 1.6em;
        padding: 0 15px;
      }

      .title {
        .address,
        .date,
        .name {
          @include box-display;
          margin: 0;
          line-height: 1em;
          float: left;
          position: relative;
        }

        .address {
          @include font($font-default, 14px, 400, $black-900);
          letter-spacing: -0.025em;
        }

        .date {
          @include font($font-default, 18px, 600, $black-900);
          margin: 0 0 15px;
          text-transform: uppercase;
          letter-spacing: -0.025em;
        }

        .name {
          @include font($font-default, 23px, 400, $black-900);
          letter-spacing: -0.05em;
          margin: 0 0 10px;
          width: 100%;
        }
      }
    }
  }
}