/* --- CONTENT --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

.content {
  @include box-display;
  background-color: var(--background-color);
  min-height: 100vh;
  overflow: hidden;
  padding: 70px 0 0;
  position: relative;
  text-align: center;
  transition: background-color 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  vertical-align: top;
}

/* --- QUERIES --- */
/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
  .content {
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .content {
    display: inline-block;
    padding: 100px 0 0;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .content {
    padding: 70px 0 0;
  }
}