/* --- EVENT LIST ITEM --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.event {
  &--item {
    @include box-display;
    align-items: stretch;
    display: inline-flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    vertical-align: top;

    &--image,
    &--info {
      @include box-display;
      position: relative;
      vertical-align: top;
      width: 50%;
    }

    &--image {
      align-content: center;
      align-items: center;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      overflow: hidden;
      width: 240px;
      z-index: 99;

      img {
        @include box-display;
        float: left;
        margin: 0;
        position: relative;
      }
    }

    &--info {
      width: calc(100% - 240px);
    }
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .event {
    &--item {
      &--info {
        .attributes {
          margin: 10px 0 0;
        }

        .title {
          .date {
            margin: 0 0 10px;
          }
        }
      }
    }
  }
}