/* --- EVENT LIST ITEM --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.event {
  &--item {
    @include box-display;
    align-content: center;
    align-items: flex-start;
    display: inline-flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    vertical-align: top;

    &--image,
    &--info {
      @include box-display;
      position: relative;
      vertical-align: top;
      width: 50%;
    }

    &--image {
      align-content: center;
      align-items: center;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      overflow: hidden;
      padding: 0;
      width: 240px;
      z-index: 99;

      img {
        @include box-display;
        float: left;
        margin: 0;
        position: relative;
      }
    }

    &--info {
      margin: 0 0 0 5px;
      width: calc(100% - 245px);
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .event {
    &--item {
      &--info {
        .title {
          .date {
            border: 2px solid $black-900;
            right: 0;
            top: calc((100% + 4px) * -1);
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .event {
    &--item {
      &--info {
        .title {
          width: 100%;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .event {
    &--item {
      margin: 0;
      padding: 0;
      
      &--image {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        max-height: 200px;
        width: 100%;
        
        img {
          height: auto;
          width: 100%;
        }
      }
      
      &--info {
        padding: 8px 8px 30px;
        width: 100%;

        .attributes,
        .description {
          padding: 15px 15px 0 15px;
        }

        .title {
          .date {
            border: none;
            right: 1px;
            top: 1px;
          }
        }

        &:before {
          border-left: 2px solid $black-900;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}